name: pylint

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        uv sync
    - name: Analysing the code with pylint
      run: |
        uv run --with pylint pylint --rc-file=.pylintrc dfindexeddb tests
